<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Inicio de la Aplicación</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <div class="ion-text-center ion-padding-top">
    <h1>¡Bienvenido!</h1>
    <p>Esta es la página de inicio. Haz clic en el botón de abajo para ver la demostración de los componentes de Ionic.</p>
  </div>

  <ion-button 
    expand="block" 
    color="primary" 
    routerLink="/test-components"  class="ion-margin-top"
  >
    Ver 20 Componentes de Ionic
  </ion-button>

</ion-content>